/* Body Styles */
body,
h2 {
  font-family: "Operator Mono", Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Page Header Styles */
#mainHeader {
  color: #ffce54;
  background-color: #3bafda;
  margin: 0px;
  padding: 10px 10px 10px 10px;
  font-size: xx-large;
  text-align: center;
}

/* Top Navigation Styles */
.mainNav {
  background-color: #ffce54;
  text-align: center;
  font-size: larger;
  margin: 0px;
}

.mainNav ul {
  margin: 0;
  padding: 10px 15px;
  list-style: none;
}

.mainNav li {
  display: inline;
  padding: 10px 15px;
}

.mainNav a {
  color: #4a89dc;
  text-decoration: none;
}

.mainNav li:hover {
  background-color: #3bafda;
  color: #ffce54;
  cursor: pointer;
}

.mainNav li:hover > a {
  color: #ffce54;
  text-decoration: none;
}

#selectedNav,
#selectedNav > a {
  background-color: #3bafda;
  color: #ffce54;
  cursor: default;
}

/* Background Image Header */
#bgImage {
  /* background-image: url("../assets/images/developers-bg.jpg"); */
  background-image: url("../assets/images/programmer-wallpaper.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 280px;
  padding-top: 200px;
  padding-bottom: 50px;
}

#bgImage h2 {
  background-color: #ffce54;
  color: #3bafda;
  font-size: 36px;
  line-height: 1.5em;
  margin-top: 100px;
  margin-left: 65%;
  padding: 10px 10px 10px 30px;
}

#yesButton {
  background-color: #3bafda;
  color: #ffce54;
  font-size: 36px;
  border-style: none;
  cursor: pointer;
}

#yesButton:hover {
  background-color: #ffce54;
  color: #3bafda;
  font-size: 36px;
  border-style: none;
  cursor: grab;
}

#sidebar {
  background-color: #ffce54;
  color: #3bafda;
  float: left;
  width: 29%;
  padding: 10px 30px;
  margin-top: 5px;
  line-height: 2em;
  border-right: 2px solid tomato;
  box-sizing: border-box;
  font-size: larger;
  text-align: justify;
}

#mainSection {
  background-color: #3bafda;
  color: #ffce54;
  float: right;
  width: 70%;
  margin-top: 20px;
  padding: 10px 30px;
  line-height: 2em;
  border-left: 2px solid royalblue;
  box-sizing: border-box;
  text-align: justify;
}

#mainSection h3 {
  font-size: x-large;
}

#mainFooter {
  background-color: #ffce54;
  color: #3bafda;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  font-size: x-large;
}

@media (max-width: 1000px) {
  #spaces {
    display: none;
  }

  .mainNav {
    padding: 0px;
    font-size: initial;
  }
  .mainNav ul,
  .mainNav li {
    padding: 10px 5px;
  }

  #bgImage h2 {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    margin-top: 270px;
    font-size: 24px;
  }

  #yesButton,
  #yesButton:hover {
    font-size: 24px;
  }

  .container,
  #sidebar,
  #mainSection {
    width: 100%;
    float: none;
    overflow: hidden;
  }
}

/* Other Styles */
/* article {
  line-height: 2em;
} */
